fastapi>=0.103.1
uvicorn>=0.23.2
python-dotenv>=1.0.0
firebase-admin>=6.2.0
pyrebase4>=4.7.1
python-jose>=3.3.0
passlib>=1.7.4
bcrypt>=4.0.1
pydantic>=2.3.0
email-validator>=2.0.0
Pyrebase~=3.0.27
jose~=1.0.0
dotenv~=0.9.9